<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    
    <param name = "robot_description"
     textfile = "$(find first_robot)/urdf/robot_model.urdf"/>

    <node name = "spwan_urdf" pkg = "gazebo_ros" type = "spawn_model" args = "-param robot_description -urdf -model first_robot" />
    
</launch>


